{% extends 'layout.html.twig' %}

{% block content %}

    <div>
        <button class="btn btn-outline-secondary"><a href="/admin">Назад</a></button>
    </div>
    <div>
        <div><h1>Добавить нового исполнителя:</h1></div>
    </div>

    <div class="createNewForm">
        <h3>Add new artist:</h3>
        {{ form(addArtistForm) }}
    </div>



    <div class="convertAdminPanel">
        <div>
            <h1>Поиск исполнителя:</h1>
            <form style="padding-bottom: 70px" action="" method="post">
                <div style="width: 95%;" class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Введите имя</label>
                    <input type="text" value="{{ postRequest }}" name="nameToFind" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>
        </div>
        <h2>Все исполнители:</h2>
        <h4>{{ sorry }}</h4>
        <p></p>
        {% for artist in artists %}
            <form action="/admin/albums/{{ artist.id }}" method="post">
                <input type="hidden" name="artistAddId" value="{{ artist.id }}">
                <div style="float: left; padding-right: 20px">
                    <div class="artistsInAP">
                        <input type="image" class="imageInAP"
                               src="/images/artistsImage/{{ artist.image }}">
                        <h3 class="artistNameInAP">{{ artist.name }}</h3>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>

{% endblock %}
