{% extends 'layout.html.twig' %}

{% block content %}

    <div class="convert">

        {% for artist in artists %}
            {% set link = artist.name %}
            <div style="float: left; padding-right: 20px"><a href="/artists/{{ artist.id }}"><img
                            src="/images/artistsImage/{{ artist.image }}" alt="{{ artist.name }}"
                            style="border-radius: 1000px; width: 250px; border: solid #210d0d 1px"></a>
                <a href="/artists/{{ artist.id }}"
                   style="text-decoration: none; color: #d6d6d6; text-transform: uppercase"><h3
                            style="text-align: center">{{ artist.name }}</h3></a>
            </div>
        {% endfor %}
    </div>
    <!--<div class="convert">
         <div class="accordion accordion-flush" id="accordionFlushExample">
             <div class="accordion-item">
                 <h2 class="accordion-header" id="flush-headingOne">
                     <button class="accordion-button collapsed" style="background-color: #666666" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                         Accordion Item #1
                     </button>
                 </h2>
                 <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">

                         tut

                     </div>
                 </div>
             </div>
             <div class="accordion-item">
                 <h2 class="accordion-header" id="flush-headingTwo">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                         Accordion Item #2
                     </button>
                 </h2>
                 <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                 </div>
             </div>
             <div class="accordion-item">
                 <h2 class="accordion-header" id="flush-headingThree">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                         Accordion Item #3
                     </button>
                 </h2>
                 <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                 </div>
             </div>
         </div>


         <div>
             <div>Slava KPSS</div>
                 <audio onclick="<?do {
                   echo 1;
                 }?>" controls style="width: 92%; background-color: darkgrey; border-radius: 30px">
                     <source src="/audio/GSPD, Слава КПСС - Комар-парижанин (Rework 2021).mp3"
                             type="audio/ogg; codecs=vorbis">
                 </audio>

             <button class="btn btn-outline-secondary" style="margin-bottom: 31px"><a
                         style="text-decoration: none; color: white"
                         href="/audio/GSPD, Слава КПСС - Комар-парижанин (Rework 2021).mp3"
                         download="">Скачать</a>
             </button>
         </div>

     </div>-->
{% endblock %}
