{% extends 'layout.html.twig' %}

{% block content %}

    <div class="convert">
        <div style="float: top">
            <div style="float: left; "><img
                        style="border-radius: 1000px; width: 250px; border: solid #210d0d 1px"
                        src="/images/artistsImage/{{ artist.image }}" alt="123"></div>
            <div style="float: top"><h1>{{ artist.name }}</h1></div>

            <div class="convertAlbums">
                {% for album in albums %}

                    <div class="backAlb">
                        <img class="albums" src="/images/albumsImages/{{ album.image }}"
                             alt="img">
                        <span style="font-size: 30px; vertical-align: bottom">{{ album.name }}</span>
                        <div style=" border-bottom: solid 1px grey;padding-left: 15px; margin-top: 70px; margin-bottom: 8px">
                            #
                            <span style="margin-left: 155px">TITLE</span>
                            <span style="margin-left: 410px">PLAYS</span>
                        </div>
                        <!--songs output-->
                        <div style="background-color: #303030;border-radius: 5px;">
                            {% for songs in music %}
                                {% for key,song in songs %}
                                    {% if album.id == song.albumId %}
                                        <div class="pesnya">
                                            <div class="numberPlay" style="padding: 20px; margin-bottom: 0;" id="{{ album.id }}">
                                                <span class="songId">{{ key + 1 }}</span>
                                                <button style="height: 40px" class="btn playOnTrack"><img
                                                            class="imagePlay"
                                                            style="width: 25px;"
                                                            src="/images/playerImages/pngwing.com.png"
                                                            alt=""></button>
                                                <span class="nowPlaying"> Now playing </span>
                                                <span class="songName"
                                                      style="margin-left: 100px;display: inline-block; max-width: 300px; width: 100%;">{{ song.name }}</span>
                                                <span style="margin-left: 150px;"> {{ song.countSongs }} </span>
                                                <audio class="muzlo" src="/audio/{{ song.name }}"></audio>
                                                <span class="duration"></span>
                                                <span style="display: none"> {{ songs | length }}</span>
                                                <span>{{ song.albumId }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="player">
            <div class="title"></div>
            <div class="cover"></div>
            <div class="song">Комар-парижанин</div>
            <audio class="audio" src="/audio/GSPD, Слава КПСС - Комар-парижанин (Rework 2021).mp3"></audio>
            <div class="progress_container">
                <div class="progress"></div>
            </div>
            <div class="buttons">
                <div class="btn prev"><img style="width: 30px; border-radius: 10px" src="/images/playerImages/prev.jpg"
                                           alt="btn"></div>
                <div class="btn play"><img style="width: 30px; border-radius: 10px" class="img__src"
                                           src="/images/playerImages/play.jpg" alt="btn"></div>
                <div class="btn next"><img style="width: 30px; border-radius: 10px" src="/images/playerImages/next.jpg"
                                           alt="btn"></div>
            </div>
        </div>
    </div>

    <!-- <div style="float: right;margin-top: 50px;  width: 800px">


         <div class="accordion accordion-flush" id="accordionFlushExample">
             <div class="accordion-item">
                 <h2 class="accordion-header" id="flush-headingOne">
                     <button class="accordion-button collapsed" style="background-color: #666666" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                         RARE GOD`S 4
                     </button>
                 </h2>
                 <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body" style="background-color: #666666">
                         текст в выпадающем меню
                         <div>
                             <div>Slava KPSS</div>
                             <audio onclick="<?do {
                    echo 1;
                  }?>" controls style=" margin-top: 0px; width: 650px; background-color: darkgrey; border-radius: 30px">
                                 <source src="/audio/GSPD, Слава КПСС - Комар-парижанин (Rework 2021).mp3"
                                         type="audio/ogg; codecs=vorbis">
                             </audio>

                             <button class="btn btn-outline-secondary" style="margin-bottom: 31px"><a
                                         style="text-decoration: none; color: white"
                                         href="/audio/GSPD, Слава КПСС - Комар-парижанин (Rework 2021).mp3"
                                         download="">Скачать</a>
                             </button>
                         </div>

                     </div>
                 </div>
             </div>

         </div>

     </div>
 </div>-->
    <!--<div class="convert">
         <div class="accordion accordion-flush" id="accordionFlushExample">
             <div class="accordion-item">
                 <h2 class="accordion-header" id="flush-headingOne">
                     <button class="accordion-button collapsed" style="background-color: #666666" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                         Accordion Item #1
                     </button>
                 </h2>
                 <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">

                         tut

                     </div>
                 </div>
             </div>
             <div class="accordion-item">
                 <h2 class="accordion-header" id="flush-headingTwo">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                         Accordion Item #2
                     </button>
                 </h2>
                 <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                 </div>
             </div>
             <div class="accordion-item">
                 <h2 class="accordion-header" id="flush-headingThree">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                         Accordion Item #3
                     </button>
                 </h2>
                 <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                 </div>
             </div>
         </div>
     </div>-->
{% endblock %}
