{% extends 'layout.html.twig' %}

{% block content %}

    <div class="convert">

        {% for artist in artists %}
            {% set link = artist.name %}
            <div style="float: left; padding-right: 20px"><a href="/artists/{{ artist.id }}"><img
                            src="/images/artistsImage/{{ artist.image }}" alt="{{ artist.name }}"
                            style="border-radius: 1000px; width: 250px; border: solid #210d0d 1px"></a>
                <a href="/artists/{{ artist.id }}"
                   style="text-decoration: none; color: #d6d6d6; text-transform: uppercase"><h3
                            style="text-align: center">{{ artist.name }}</h3></a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
